/*@media (min-width: 992px) {*/
    /*body {*/
        /*padding-left: 0px;*/
    /*}*/
/*}*/
html
{

}
body {
    background: rgb(0,0,0);
    /*background-image: url("../img/bg.jpg");*/
}

.main-container
{
    padding: 0 !important;
    margin: 0 !important;
}
.btn-custom
{
    background-color: hsl(331, 64%, 17%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ab2566", endColorstr="#470f2a");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ab2566), to(#470f2a));
    background-image: -moz-linear-gradient(top, #ab2566, #470f2a);
    background-image: -ms-linear-gradient(top, #ab2566, #470f2a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab2566), color-stop(100%, #470f2a));
    background-image: -webkit-linear-gradient(top, #ab2566, #470f2a);
    background-image: -o-linear-gradient(top, #ab2566, #470f2a);
    background-image: linear-gradient(#ab2566, #470f2a);
    border-color: #470f2a #470f2a hsl(331, 64%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
    -webkit-font-smoothing: antialiased;
}
.top-section
{
    /*background-color: gray;*/
    /*background: no-repeat center center;*/
    /*background-attachment: scroll;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
    /*margin-bottom: 50px;*/
    padding: 0 !important;
    margin: 0 !important;
    /*background-image: url("../img/WhiteTilesAtop.png");*/
    height:300px;
}
.side-bar
{
    background-color: green;
    /*-webkit-transition: 2s linear;*/
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
    /*-moz-transition: 2s linear;*/
    /*-o-transition: 2s linear;*/
    /*transition: 2s linear;*/
    opacity: 1;
    height: 700px;
    border: 5px solid black;
}
.header-text
{
    color: black;
}

.custom .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 1);
}

.navbar .navbar-collapse .nav .nav-item:hover,
.navbar .navbar-collapse .nav .nav-item:focus
{
    background-color: transparent;
}

.black-terminal
{
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    color:white;
}

.curve-top-border
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.curve-bottom-border
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.terminal-head
{
    background: #333333
}
.terminal-body
{
    background: #5E2750;
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;
}

.terminal-history:focus,
.terminal-command-line:focus
{
    outline-width: 0;
}

.terminal-command-line
{
    background: inherit;
    width: 80%;
    height: inherit;
    margin: 0 !important;
    border: none !important;
}

.terminal-command-line-label
{

    width: 20%;
    height: inherit;
    background: inherit;
    margin: 0 !important;
    border: none !important;
}

.terminal-text-area
{
    width: inherit;
    min-height:25px;
    max-height:300px;
    resize:none;
    margin: 0 !important;
    border: none !important;
    outline: none;
    background: inherit;
}
.terminal-text
{
    font-family: Ubuntu;
    font-size: 16px;
}

.intro-text
{
    font-family: Ubuntu;
    color: white;
    font-size: 7em;
}
.intro-text-sm
{
    font-family: Ubuntu;
    color: white;
    font-size: 1.5em;
}
.intro-text-area
{
    height: 300px;
    width: inherit;
    background: inherit;
    resize:none;
    margin: 0 !important;
    border: none !important;
    outline: none;
}