<div onload="initNavbar()">
    <nav class = "navbar navbar-fixed-top" role = "navigation" ng-controller="NavigationController">
        <div class = "container">
            <div class = "navbar-header">
                <a href="#" >
                    <p class = "navbar-brand">UConn Smash</p>
                </a>
                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
            </div>
            <div class = "collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in pageLinks" class="nav-item"><a href="#{{link.path}}">{{link.label}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!--<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" id="navbar" ng-controller="NavigationController">-->
    <!--<a class="navmenu-brand" href="#">Project name</a>-->
    <!--<ul class="nav navmenu-nav">-->
        <!--<li ng-repeat="link in pageLinks" ng-class="{active: isActive(link.path)}"><a href="#{{link.path}}">{{link.label}}</a></li>-->
    <!--</ul>-->
<!--</div>-->

<script>
    $(document).ready(function(e){

        $('.nav li').removeClass('active');//or $('.active').removeClass('active');
    });
</script>

    <!--$(function () {-->
        <!--$('.navmenu').offcanvas({-->
            <!--toggle: "offcanvas",-->
            <!--target: ".navmenu",-->
            <!--canvas: "body",-->
            <!--autohide: false-->
        <!--}).offcanvas('show');-->
    <!--});-->
<!--</script>-->