<!--<div class="container-fluid" style="background-image: url(../img/bg.jpg);">-->
<!--<div class="container">-->
    <div class="row" ng-if="false">
        <div class="col-sm-12 text-center">
            <div class="top-section">
                <div class="row">
                    <div class="col-sm-12 text-center header-text">
                        <h1>Tyler Southmayd</h1>
                    </div>
                    <div class="col-sm-12 text-center header-text">
                        <h4>Learning things at the University of Connecticut, Storrs</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea class="intro-text intro-text-area" ng-model="introText" ng-disabled="true"></textarea>
            <textarea class="intro-text-sm intro-text-area" ng-model="outroText" ng-disabled="true"></textarea>
        </div>
    </div>
<!--</div>-->

