<div class="container curve-top-border" style="background: white;">
    <!-- Header -->
    <div class = "panel panel-default" style = "margin-top: 20px;">
        <div class = "panel-body">
            <div class = "text-center">
                <h2>Tyler Southmayd</h2>
                <hr/>
                <h4>Tyler.Southmayd@UConn.edu</h4>
                <h4>(203) 216 - 6248 | Wilton, CT 06897</h4>
            </div>
        </div>
    </div>
    <!-- Header -->

    <!-- Content -->
    <div class = "row">

        <!-- Left Column -->
        <div class = "col-sm-3">

            <!-- Skills -->
            <div class = "well well-sm">
                <h3>Skills</h3>
                <h5>Java</h5>
                <h5>OO Design</h5>
                <h5>UML / Design Patterns</h5>
                <h5>HTML5 / JavaScript / CSS</h5>
                <h5>Twitter Bootstrap / UI-Bootstrap</h5>
                <h5>AngularJS</h5>
                <h5>PHP</h5>
                <h5>JSON / XML</h5>
                <h5>MySQL / phpMyAdmin</h5>
                <h5>Git / SourceTree / Github</h5>
            </div>
            <!-- Skills -->

            <hr/>

            <!-- Relevant Courses -->
            <div class = "well well-sm">
                <h3>Relevant Courses</h3>
                <h5>Data Structures and Algorithms</h5>
                <h5>Algorithms and Complexity</h5>
                <h5>Intro to Software Engineering</h5>
                <h5>Object Oriented Programming</h5>
                <h5>Theory of Computation</h5>
                <h5>Computer Architecture</h5>
            </div>
            <!-- Relevant Courses -->

            <hr/>

            <!-- Academic Recognition -->
            <div class = "well well-sm">
                <h3>Academic Recognition</h3>
                <p><strong>Member</strong>: Upsilon Pi Epsilon - Honors Computer Science Fraternity</p>
                <p><strong>Dean's List Engineering</strong>: Entire First Two Years at UConn</p>
            </div>
            <!-- Academic Recognition -->

            <hr/>

            <!-- Positions Held -->
            <div class = "well well-sm">
                <h3>Positions Held</h3>
                <p><strong>CTO</strong>: UConn Super Smash Bros. Club</p>
            </div>
            <!-- Positions Held -->

        </div>
        <!-- Left Column -->

        <!-- Right Column -->
        <div class = "col-sm-9">

            <!-- Education -->
            <h3>Education</h3>
            <div class = "row">
                <div class = "col-sm-12">
                    <h4>Studying <strong>Computer Science and Engineering</strong> with a Minor in <strong>Mathematics</strong> at the <strong>University of Connecticut, Storrs</strong></h4>
                    <span style = "margin-left: 25px;">Cumulative GPA: 3.673</span>
                </div>
                <div class = "col-sm-6">
                    <h5>Expected Graduation</h5>
                </div>
                <div class = "col-sm-6 text-right">
                    <h5><strong>May 2016</strong></h5>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm-6">
                    <h5>Graduated Wilton High School | Wilton, CT</h5>
                </div>
                <div class = "col-sm-6 text-right">
                    <h5><strong>June 2012</strong></h5>
                </div>
            </div>
            <!-- Education -->

            <hr/>

            <!-- Work Experience -->
            <h3>Work Experience</h3>
            <h3><strong>North Mill Equipment Finance, LLC</strong> | June 2014 – PRESENT | Norwalk, CT</h3>
            <h4>Software Engineering Intern / Remote Developer</h4>
            <ul>
                <li>Full time employee developing a broker engagement financing application with a team of developers on the Salesforce cloud computing platform. Languages used include the native Salesforce languages Visualforce and Apex integrated with HTML5, Twitter Bootstrap, JavaScript, and JQuery. </li>
                <li>Extensive database model study and interaction using the Salesforce query language SOQL.</li>
                <li>Implemented credit stipulation parsing from XML credit reports and the front end to review them. The page supported logging user interaction to the database, an interface for the creation/editing of custom stipulations, and filtering of the stipulations dynamically by age and amount. </li>
                <li>Coded various other jobs such as an internal asset review page, an address lookup API implementation, test cases, and utility classes.</li>
                <li>Participated in QA testing, documentation, and translating legal documents into generalized templates that can be merged with the database. </li>
                <li>Attended and held conference calls between multiple consultant groups.</li>
                <li>Worked in multiple Git repositories using the SourceTree Git UI and GitHub.</li>
                <li>Continue work during the school year as a remote developer.</li>
            </ul>
            <!-- Work Experience -->

            <hr/>

            <!-- Side Projects -->
            <h3>Side Projects</h3>
            <h3><strong>UConn Smash Club Website</strong> | November 2014 - PRESENT</h3>
            <ul>
                <li>Currently the acting Chief Technology Officer on the UConn Super Smash Bros. Club's executive board. My responsibilities include the development and upkeep of the club website, maintaining the database, and overseeing the clubs technological activities such as live video streaming.</li>
                <li>Design and implementation of a complete AngularJS SPA using the MVC design pattern for the clubs website, including a ranking system for the club members and logging of events. Front end implemented with HTML5, CSS, JavaScript, Twitter Bootstrap, Angular UI-Bootstrap</li>
                <li>Data was pulled from a MySQL database and hosted as a JSON object using PHP. The PHP is called as a web-service using a singleton AngularJS Factory for use in a JS controller.</li>
                <li>Worked in a Git repository using a combination of command line Git, SourceTree, and GitHub.</li>
                <li>Key Design Patterns: SPA, MVC, Singleton, Universal HTML Encapsulation, Dependency Injection  </li>
            </ul>
            <!-- Side Projects -->

        </div>
        <!-- Right Column -->

    </div>
    <!-- Content -->

    <hr/>

    <!-- Footer -->
    <div class = "row">
        <div class = "col-sm-12 text-center">
            <h4>This resume was coded using Twitter Bootstrap.</h4>
            <a href="http://pastebin.com/K0CVBXfH">View Source Code: http://pastebin.com/K0CVBXfH</a>
        </div>
    </div>
    <!-- Footer -->
</div>
